.input-wrapper {
  font-family: var(--font-mono);
  font-size: var(--font-size-input);
  color: var(--input);
}

/* INFO: Button */
button {
  appearance: none;
  border: none;

  padding-right: var(--space-xs);
  font-family: var(--font-mono);
  font-size: var(--font-size-input);
  color: var(--input);
  background-color: inherit;
  cursor: pointer;
  transition: background-color var(--transition-fast);
  white-space: nowrap;
  text-wrap: nowrap;
}

button::before {
  content: "> ";
}

button:hover {
  background-color: var(--input-hover);
}

/* INFO: loading */
@keyframes tui-spinner {
  0% {
    content: "⠋ ";
  }

  10% {
    content: "⠙ ";
  }

  20% {
    content: "⠹ ";
  }

  30% {
    content: "⠸ ";
  }

  40% {
    content: "⠼ ";
  }

  50% {
    content: "⠴ ";
  }

  60% {
    content: "⠦ ";
  }

  70% {
    content: "⠧ ";
  }

  80% {
    content: "⠇ ";
  }

  90% {
    content: "⠏ ";
  }

  100% {
    content: "⠋ ";
  }
}

.loading {
  cursor: wait !important;
  transition: background-color var(--transition-fast);
}

.loading:hover {
  background-color: var(--input-disabled) !important;
}

.loading::before {
  content: "⠋ ";
  animation: tui-spinner 1s infinite step-start;
}

/* INFO: Checkbox */
.checkbox {
  font-family: var(--font-mono);
  font-size: var(--font-size-input);
  margin-left: var(--space-xs);
  user-select: none;
  padding-right: var(--space-xs);
  color: var(--input);
  transition: background-color var(--transition-fast);
  cursor: pointer;
  white-space: nowrap;
  text-wrap: nowrap;
}

.checkbox:hover {
  background-color: var(--input-hover);
}

input[type="checkbox"] {
  appearance: none;
  margin: 0;
  font-family: var(--font-mono);
  font-size: var(--font-size-input);
  cursor: pointer;
  color: var(--input);
}

input[type="checkbox"]::before {
  content: "[ ]";
}

input[type="checkbox"]:checked::before {
  content: "[*]";
}

/* INFO: number input */
.number {
  font-family: var(--font-mono);
  font-size: var(--font-size-input);
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
  cursor: text;
  user-select: none;
  color: var(--input);
  transition: background-color var(--transition-fast);
  transition: border var(--transition-fast);

  display: inline-block;
  white-space: nowrap;
}

.number:hover {
  background-color: var(--input-hover);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  outline: none;
  border: none;
  background-color: transparent;
  margin: 0;
  width: 3ch;
  height: auto;
  user-select: none;

  font-family: var(--font-mono);
  font-size: var(--font-size-input);
  cursor: text;
  color: var(--input);
  text-align: right;
}

input[type="number"]:focus {
  animation: underscore-blink 1s linear infinite;
  animation-timing-function: steps(1);
}

@keyframes underscore-blink {

  0%,
  100% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0 2px 0 0 var(--input);
  }
}


.number::before {
  content: '[';
}

.number::after {
  content: ']';
}

/* INFO: Select */
.tui-select {
  position: relative;
  background-color: var(--bg-color, transparent);
  font-family: var(--font-mono);
  font-size: var(--font-size-input);
  color: var(--input);
}

.tui-select-trigger {
  cursor: pointer;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  transition: background-color var(--transition-fast);
}

.tui-select-trigger:hover {
  background-color: var(--input-hover);
}

.tui-select-trigger::after {
  margin-left: var(--space-sm);
  content: "\2304";
  /* Unicode for arrow head downwards */
  position: relative;
  top: -0.2rem;
  /* Align arrow head in the middle */
}

.tui-select-dropdown {
  display: none;
  background-color: inherit;
  position: absolute;
  z-index: 10;

  top: calc(var(--space-md)+12px);
  padding: var(--space-md);
  outline-offset: calc(var(--space-md)/2*-1);
  outline: 2px dotted var(--input-hover);
  transition: outline var(--transition-fast);
}

.tui-select-dropdown:hover {
  outline: 2px solid var(--input);
}

.tui-select-dropdown.open {
  display: block;
}

.tui-select-option {
  display: inline;
  white-space: nowrap;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  transition: background-color var(--transition-fast);
  cursor: pointer;
}

.tui-select-option::before {
  content: "\00A0\00A0\00A0";
  /* Placeholder space */
}

.tui-select-option:hover {
  background-color: var(--input-hover);
}

.tui-select-option:hover::before {
  content: ">\00A0\00A0";
}

.tui-select-option.selected::before {
  content: "\00A0* ";
}

.tui-select-option.selected:hover::before {
  content: ">* ";
}

/* INFO: middle icon */
.middle-icon {
  position: absolute;
  z-index: 2;
  grid-row: 1;
  grid-column: 2;
  justify-self: start;
  align-self: center;
  transform: translateX(-50%);

  padding: var(--space-md);
  background-color: var(--bg-1);
  outline: 2px solid var(--bg-2);
  outline-offset: calc(var(--space-md)/3*-1);
  cursor: pointer;
  font-family: var(--font-mono);
  font-size: var(--font-size-lg);

  transition: background-color var(--transition-fast);
}

.middle-icon::before {
  content: "\2192";
}

.middle-icon:hover {
  background-color: var(--input-hover);
}

/* INFO: error pop up */
@keyframes error-outline-blink {

  0%,
  100% {
    outline-color: var(--error-border);
  }

  50% {
    outline-color: var(--error);
  }
}

.error-pop {
  display: none;
  position: absolute;
  z-index: 5;
  bottom: var(--space-sm);
  left: 50%;
  transform: translateX(-50%);

}

.error-pop.shown {
  display: block;
}

.error-pop-inner {
  z-index: inherit;
  background-color: var(--bg-0);
  padding: var(--space-md);
  outline: 3px dashed var(--error-border);
  outline-offset: calc(var(--space-md)/2*-1);
  animation: error-outline-blink 1s step-start infinite;
  color: var(--error);
  transition: background var(--transition-fast);

  position: relative;
}

.error-pop-inner:hover {
  background-color: var(--error-hover);
}

.error-pop-title {
  position: absolute;
  user-select: none;
  top: 0;
  left: var(--space-md);
  padding: 0 var(--space-xs) 0 var(--space-xs);
  background-color: inherit;
}

.error-pop-content {
  margin-top: var(--space-sm);
}

.editor-error-line {
  background-color: var(--editor-error-highlight);
  width: 100% !important;
}

/* INFO: tip box */
.tip-box {
  display: none;
  position: absolute;
  right: var(--space-sm);
  bottom: var(--space-sm);
  z-index: 4;
}

.tip-box.shown {
  display: block;
}

.tip-box.disabled {
  display: none !important;
}

.tip-inner {
  position: relative;
  background-color: var(--bg-0);
  padding: var(--space-md);
  outline: 3px dotted var(--tip);
  outline-offset: calc(var(--space-md)/2*-1);
  color: var(--text);
}

.tip-top {
  position: absolute;
  top: 0;
  left: var(--space-md);
  right: var(--space-sm);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--tip);
}

.tip-top * {
  background-color: var(--bg-0);
  padding: 0 var(--space-xs) 0 var(--space-xs);
}

.tip-close-btn {
  font-size: var(--font-size-md);
  cursor: pointer;
  transition: background var(--transition-fast);
}

.tip-close-btn:hover {
  background-color: var(--tip-hover);
}

.tip-content {
  margin-top: var(--space-xs);
  max-width: 25vw;
  max-height: 10vh;
  overflow-y: auto;
  font-size: var(--font-size-sm);
}
