/* INFO: tip box */
.tip-box {
  display: none;
  position: absolute;
  right: var(--space-sm);
  bottom: var(--space-sm);
  z-index: 4;
}

.tip-box.shown {
  display: block;
}

.tip-box.disabled {
  display: none !important;
}

.tip-inner {
  position: relative;
  background-color: var(--bg-0);
  padding: var(--space-md);
  outline: 3px dotted var(--tip);
  outline-offset: calc(var(--space-md)/2*-1);
  color: var(--text);
}

.tip-top {
  position: absolute;
  top: 0;
  left: var(--space-md);
  right: var(--space-sm);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--tip);
}

.tip-top * {
  background-color: var(--bg-0);
  padding: 0 var(--space-xs) 0 var(--space-xs);
}

.tip-close-btn {
  font-size: var(--font-size-md);
  cursor: pointer;
  transition: background var(--transition-fast);
}

.tip-close-btn:hover {
  background-color: var(--tip-hover);
}

.tip-content {
  margin-top: var(--space-xs);
  max-width: 25vw;
  max-height: 10vh;
  overflow-y: auto;
  font-size: var(--font-size-sm);
}

/* INFO: Help modal */

.help-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  transition:
    width var(--transition-fast),
    height var(--transition-fast);
}

.help-modal.shown {
  display: block;
}

.help-inner {
  position: relative;
  background-color: var(--bg-0);
  padding: var(--space-md);
  outline: 3px dotted var(--help);
  outline-offset: calc(var(--space-md)/2*-1);
  color: var(--text);
}

.help-top {
  position: absolute;
  top: 0;
  left: var(--space-md);
  right: var(--space-sm);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--help);
}

.help-top * {
  background-color: var(--bg-0);
  padding: 0 var(--space-xs) 0 var(--space-xs);
}

.help-close-btn {
  font-size: var(--font-size-md);
  cursor: pointer;
  transition: background var(--transition-fast);
}

.help-close-btn:hover {
  background-color: var(--help-hover);
}

.help-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  font-size: var(--font-size-sm);
  margin-top: var(--space-xs);
  max-width: 30vw;
  min-width: 15vw;
  max-height: 50vh;
  padding: var(--space-sm) 0 var(--space-sm) 0;

  overflow-y: auto;
  font-size: var(--font-size-sm);
}

.help-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: background var(--transition-fast);
}

.help-divider:hover {
  background-color: var(--input-hover);
}

.help-divider>hr {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 var(--space-sm) 0 var(--space-sm);
  border: 0;
  height: var(--space-xs);
  background-color: var(--bg-2);
}

.help-divider::after {
  content: ">";
}

.help-divider.toggled::after {
  content: "⌄";
}

.help-section {
  display: none;
  flex-direction: column;
  margin-bottom: var(--spac-sm);
}

.help-section.shown {
  display: flex;
}

.help-summary {
  padding-bottom: var(--space-xs);
  border-bottom: dashed 3px var(--bg-3);
  margin-bottom: var(--space-xs);
}

.help-var-doc {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
  justify-content: flex-start;
}

.help-function-docs {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.help-function-doc {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.help-function-type {
  color: gray;
}
