[data-theme="dark"] {
  --bg-0: #343434;
  --bg-1: color-mix(in oklch, var(--bg-0) 95%, white);
  --bg-2: color-mix(in oklch, var(--bg-0) 90%, white);
  --bg-3: color-mix(in oklch, var(--bg-0) 85%, white);

  --output-bg: color-mix(in oklch, var(--bg-0) 60%, white);
  --output-txt: color-mix(in oklch, var(--bg-0) 50%, white);

  --input: #71f2cf;
  --input-hover: color-mix(in oklch, var(--input) 70%, black);
  --input-disabled: color-mix(in oklch, white 50%, black);

  --error: red;
  --error-hover: color-mix(in oklch, var(--error) 40%, black);
  --error-border: color-mix(in oklch, var(--error) 90%, black);

  --tip: #e69129;
  --tip-hover: color-mix(in oklch, var(--tip) 70%, black);

  --help: #d18b52;
  --tip-hover: color-mix(in oklch, var(--help) 70%, black);

  /* --editor-bg: #1e1e1e; */
  /* --editor-text: white; */
  --editor-error-highlight: color-mix(in srgb, color-mix(in oklch, #1e1e1e 20%, #ff0000) 50%, transparent);

  --text: white;
  --log-system: gray;
  --log-user: white;
}
