@keyframes border-blink {

  0%,
  100% {
    outline: var(--space-sm) solid #ff000042;
  }

  50% {
    outline: var(--space-sm) solid #ff000068;
  }
}

.tutorial-border {
  display: none;
  position: fixed;
  box-sizing: border-box;
  outline: var(--space-sm) solid #ff000042;
  outline-offset: calc(var(--space-sm)*-1);
  animation: border-blink 1s ease infinite;
  z-index: 50;

  transition:
    left var(--transition-fast),
    top var(--transition-fast),
    height var(--transition-fast),
    width var(--transition-fast);
}

.tutorial-border.shown {
  display: block;
}

.tutorial-overlay-container {
  display: none;
}

.tutorial-overlay-container.shown {
  display: block;
}

.tutorial-overlay {
  position: fixed;
  z-index: 45;
  background-color: #00000088;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition:
    top var(--transition-fast),
    right var(--transition-fast),
    bottom var(--transition-fast),
    left var(--transition-fast);
}

.tutorial-box {
  display: none;
  position: fixed;
  z-index: 55;
  background-color: mediumslateblue;
  transition:
    top var(--transition-fast),
    right var(--transition-fast),
    left var(--transition-fast),
    width var(--transition-fast),
    height var(--transition-fast);
  max-width: 25vw;
}

.tutorial-box.shown {
  display: block;
}

.tutorial-box.top {
  top: var(--space-md);
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

.tutorial-box.right {
  top: 50%;
  left: auto;
  right: var(--space-md);
  transform: translateY(-50%);
}

.tutorial-box.bottom {
  top: calc(100% - var(--space-md));
  left: 50%;
  right: auto;
  transform: translate(-50%, -100%);
}

.tutorial-box.left {
  left: var(--space-md);
  top: 50%;
  right: auto;
  transform: translateY(-50%);
}
